
    <form method="GET" action="/artist" >
    <div>
        <input type="text" name="name" placeholder="e.g. Elvis presley"></input>
        <button type="submit">Search for an Artist</button>
    </div>
    </form>

